<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile" fileName="logs/${shortdate}_Log.log" keepFileOpen="false"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception}|${all-event-properties}|${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}|${callsite-linenumber}"
            archiveFileName="logs/Archive/Log_${shortdate}.txt"
            maxArchiveFiles="30"
            archiveEvery="Day" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>